
.block {
  border: 1px solid black;
}

/* (+) */
.TSHeader {
  min-height: 560px;
  height: fit-content;
  background: url(../assets/ticket_select_logo_img.png);
  background-position: center center;  
  display: flex;
  flex-direction: column;
}

/* (+) */
.TSBody {
  min-height: 900px;
  width: 97%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;  
}

/* ticket select form */
.tsform {
  margin: 100px auto 0 auto;
}

/* ------------------------ */
.TicketList {}

.TicketList__info {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid red;
}

.TicketList__ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.TicketList__li {
  max-height: 300px;
  width: 900px;
  margin: '0px 20px 20px 0px';
  display: flex;
  /*overflow-x: scroll;*/
}

/* ticket limit 5 10 15 */
.ticketLimit {
  border: 1px solid black;
  margin: 0px 10px;
  padding: 5px;
}

.ticketLimit_active {
  background-color: orange;
}


.dispParams__text {
  display: flex;
  align-items: center;  
}



