
.tmp-cp-0-0 {
  display: flex;
  margin: 10px;
}

.tmp-cp-0-1 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
}
.tmp-cp-0-1-left {
  width: 100px;
}
.tmp-cp-0-1-right {
  width: 360px;
  margin-left: 5px;
}
