



/*-------------------------*/
.CoachSelHeader {
  display: flex;
  /*border: 1px solid blue;*/
  padding: 10px;
}
.CoachSelHeader__arrow {
  height: 60px;
  width: 76px;
}
.CoachSelHeader__textwrapper {
  width: 325px;
  height: 60px;
  border: 1px solid black;
  margin-left: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.CoachSelHeader__text {
  height: 30px;

  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;  
}

/*-------------------------*/


/*-------------------------*/
/*-------------------------*/
/*-------------------------*/
/*-------------------------*/


.coach-wrapper {
  min-width: 900px;
  /*border: 1px solid red;*/
  margin-bottom: 20px;
  padding: 20px;
}
.coach-wrapper-div {
  margin-bottom: 20px;
}

.trainInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #F7F6F6;
}

.trainInfo__trainImg {
  height: 40px;
  width: 40px;
}



.ticketCntLeft {
  display: flex;
  justify-content: space-around;
}

.ticketCntLeft_block {
  width: 300px;
  /*border: 1px solid red;*/
}


.coachTypes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.coachTypes__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;  
}



.seatInfo-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  background: #FFA800;
}

.seatInfo-body {
  display: flex;
  justify-content: space-around;
}

.body-block {
  min-height: 160px;
  min-width: 240px;
  /*border: 1px solid brown;*/
}
.body-block__Info_SeatCntPrice {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.body-block__Info_div {
  margin: 5px;
  padding: 5px;
}
.body-block__Info_title {
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
}


.cltype_active {
  border: 3px solid #FFA800;
  padding: 5px;
}


.wrapper-serv_img2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.serv_img2 {
  width: 37px;
  height: 34px;
  /*border: 1px solid black;*/
  border-radius: 3px;
  padding: 5px;
}
.serv_img2_selected {
  background: orange;
}

